.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px ;
  object-fit: contain;
  padding: 10px;
}

.header > img{
    height: 80px;
    width: 300px;
    object-fit: contain;
}